body{
    background: url(../img/white.jpg) repeat top left;
  }


/*  Flexslider
==================================== */

#main-slider:before {
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.53);
    z-index: 1; 
    position: absolute;
}

.flex-caption {
    zoom: 1;
    bottom: 198px;
    background-color: transparent;
    color: #fff;
    margin: 0;
    padding: 25px 25px 25px 30px;
    position: absolute;
    left: 0;
    text-align: center;
    margin: 0 auto;
    right: 0px;
    display: inline-block;
    bottom: 21%;
}

.wedding {
    font-family: 'Tangerine', serif;
    font-size: 150px;
    letter-spacing: 4px;
    color: pink;
}

.wedding2 {
    font-family: 'Tangerine', serif;
    font-size: 30px;
    font-weight: 700;
}

.flex-caption p {
    margin: 12px 0 18px;
    font-size: 22px;
}

section.hero-text {
    background: rgb(167, 176, 255);
    padding: 5px 0 10px 0;
    color: pink;
    border-top: 6px solid pink;
}

.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    z-index: 2;
}
 .flex-control-paging li a {
    width: 30px;
    height: 10px;
    border-radius: 0;
}
.flex-control-paging li a {
    width: 25px;
    height: 11px;
    display: block;
    background: #FFF;
    background: rgb(167, 176, 255);
}
.flex-control-paging li a.flex-active {
    background: pink;
}

/*  Navbar
==================================== */

.navbar-inverse {
    padding: 20px;
    border-radius: 0
}

.navStyle ul li a {
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-inverse .navbar-nav>li>a {
    color: pink;
}

.navbar-nav {
    float: right;
}

.logo,
.logo-section {
    float: left;
}

.navbar-inverse .navbar-brand {
    color: white;
    font-family: 'Tangerine', serif;
    letter-spacing: 2px;
    font-size: 60px;
    font-weight: bold;
    margin-top: 5px;
}

/*  About Us Section
==================================== */

#aboutUs .feature {
  margin-top: 30px;
  margin-bottom: 54px;
}
#aboutUs .right {
  padding-left: 32px;
  padding-right: 32px;
  float: right;
}
#aboutUs .left {
  padding-left: 32px;
  padding-right: 32px;
  float: left;
}
#aboutUs h2 {
  font-size: 74px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #d25f94;
  font-family: 'Tangerine', serif;
}
.row .six {
  width: 50%;
}
.feature-media img{
    max-width: 100%;
    height: auto;
    margin-top: 30px;
    border: 8px solid #fff;
}


/*  Details Section
==================================== */

.colord{
  background: #d25f94;
}

.test{
  border: 4px solid #c63176;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.text-center:hover img{
  transform: scale(1.2,1.2);
}

.page-section{
  width: 100%;
  height: auto;
  padding: 85px 0;
}

.page-section h3{
  color: white;
  font-weight: bold;
}

/*  Photo Gallery Section
==================================== */

.texture{
  background: url(../img/texture12.jpg) repeat top left;;
}

.pretty {
  font-size: 90px;
  font-weight: 700;
  font-family: 'Tangerine', serif;
  color: #c01b67;
  letter-spacing: 1px;
  padding-bottom: 35px;
  padding-top: 60px;
  text-shadow: 4px 4px 4px #aaa;
}

.view {
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 30px;
  border: 10px solid #fff;
  box-shadow: 4px 4px 4px #868686;
}

.view .mask,.view .content  {
   height: 100%;
   position: absolute;
   overflow: hidden;
   top: 0;
   left: 0;
}

.view h2 {
   text-transform: uppercase;
   color: #fff;
   text-align: center;
   position: relative;
   font-size: 17px;
   padding: 10px;
   background: rgba(0, 0, 0, 0.8);
   margin: 20px 0 0 0;
}
.view p {
   font-family: Georgia, serif;
   font-style: italic;
   font-size: 12px;
   position: relative;
   color: #fff;
   padding: 10px 20px 20px;
   text-align: center;
}
.view a.info {
   position: absolute;
   left: 35%;
   text-decoration: none;
   padding: 7px 14px;
   background: #000;
   color: #fff;
   text-transform: uppercase;
   text-align: center;
}

.view-first img {
   transition: all 0.2s linear;
}
.view-first .mask {
   opacity: 0;
   background-color: rgba(119, 0, 36, 0.6);
   transition: all 0.4s ease-in-out;
}
.view-first h2 {
   transform: translateY(-100px);
   transition: all 0.3s ease-in-out;
}
.view-first p {
   transform: translateY(100px);
   transition: all 0.2s linear;
}
.view-first:hover img {
   transform: scale(1.3,1.3);
}
.view-first a.info {
   opacity: 0;
   transition: all 0.2s ease-in-out;
}
.view-first:hover .mask {
   opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
   opacity: 1;
   transform: translateY(0px);
}





/**** MEDIA QUERIES ****/

@media (max-width: 695px) {
    .flex-caption {
      display: none;
 }
}

@media (max-width: 768px) {
    .logo,
    .logo-section {
      display: none;
 }

    .navbar-inverse {
      padding: 5px;
      border-radius: 0
 }

    .row .six {
      width: auto;
    }
}


